<% if user_signed_in? %>
  <div id="contribution_form_wrapper" class="modal" data-open-immediately="<%= @show_contrib_form %>">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Contribution or Interest</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'form', contribution: @contribution %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<h2 class="section-title">Contributions</h2>

<% if @contributions.empty? %>
  <p>No contributions yet.</p>
<% end %>
<%= render @contributions %>

<h2 class="section-title">Interests</h2>
<% if @interests.empty? %>
  <p>No contributions yet.</p>
<% end %>
<%= render partial: 'contribution', collection: @interests %>
<hr>
Want to add a contribution or an interest? What
<% if user_signed_in? %>
  <%= link_to 'are you waiting for?', '#contribution_form_wrapper', data: {toggle: 'modal'} %>
<% else %>
  <%= link_to 'are you waiting for?', signin_path %>
<% end %>
